.button__done {
    background-color: hsl(120, 100%, 25%);
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.button__done:active {
    border: 1px solid black;
}

.button__done:hover {
    transition: 0.8s;
    background-color: hsl(120, 100%, 35%);
}

.button__remove {
    background-color: hsl(348, 83%, 47%);
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.button__remove:hover {
    transition: 0.8s;
    background-color: hsl(348, 83%, 60%);
}

.button__remove:active {
    border: 1px solid black;
}

.button__HideDone {
    color: teal;
    background-color: transparent;
    border: none;
    font-size: large;

}

.button__HideDone:hover {
    transition: 0.8s;
    color: hsl(180, 100%, 30%);
    ;
}

.button__CompleteAll {
    color: teal;
    background-color: transparent;
    border: none;
    font-size: large;
}

.button__CompleteAll:hover {
    transition: 0.8s;
    color: hsl(180, 100%, 30%);
    ;
}