html {
    box-sizing: border-box;
}

* ::after,
::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgb(224, 224, 224);
}

.header {
    margin-left: 20px;
}